@font-face {
    font-family: "FavoritPro";
    src: url(../font/FavoritPro-Regular.otf);
}

html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: rgba(204, 204, 204, 1);
    --color2: rgba(24, 24, 24, 1);
    --color3: rgba(255, 255, 255, 1);
    --color4: rgba(248, 248, 248, 1);
    --color5: rgba(103, 108, 118, 1);
    --color6: rgba(51, 169, 68, 1);
    --color7: rgba(255, 255, 255, 0.46);
    --color8: rgba(0, 0, 0, 0.2);
    --color9: rgba(103, 108, 118, 0.2);
    --color_border: rgba(175, 193, 217, 1);
    --color_search: rgba(245, 246, 247, 1);
    --color_line: rgba(186, 186, 186, 1);
    --linear_grad_1: rgba(22, 36, 63, 1);
    --linear_grad_2: rgba(51, 169, 68, 1);
    --font1: "FavoritPro";


}

/*NAVBAR*/
.navbar {
    margin-bottom: 24px;
}

.navbar_container {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
}

.navbar_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_img {
    width: 150px;
    height: 80px;
    margin-right: 35px;
}

.navbar_search {
    border: 1px solid var(--color_border);
    background-color: var(--color_search);
    border-radius: 12px;
    max-width: 366px;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    margin-right: 96px;
    padding-left: 17px;

}

.navbar_search_img {
    border: none;
    width: 20px;
    height: 20px;
    margin-right: 9px;
}

input.navbar_search_img {
    background: url(../img/search_header_svg.svg);
    background-repeat: no-repeat;
}

.navbar_search_text {
    border: none;
    background-color: var(--color_search);
    border-radius: 12px;

}

input.navbar_search_text {
    height: 100%;
    width: 100%;
    outline: none;
}


.navbar_list {
    display: flex;
    list-style: none;
    gap: 41.5px;
    margin-right: 10px;

}

.navbar_list a {
    text-decoration: none;
    font-family: var(--font1);
    color: var(--color2);
}

.navbar_list a:hover {
    text-decoration: underline;
}

.navbar_vector {

    margin-right: 40px;
}

.navbar_vector img {
    width: 7px;
    height: 12px;
}

.navbar_line {
    width: 1px;
    height: 32px;
    background-color: var(--color_line);
    margin-right: 18px;
}

.navbar_img_user {
    width: 38px;
    height: 38px;
}


.navbar_img_user img {
    display: block;
    width: 100%;
}

.header_inter {
    width: 47px;
    height: 18px;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 26px;
}

.header_inter:hover {
    text-decoration: underline;
}

.header_menu {
    width: 38px;
    height: 38px;
    background: transparent;
    border: none;
    cursor: pointer;
}

/*HEADER*/
.header {
    margin-bottom: 49px;
}

.header_container {
    width: 1280px;
    height: 618px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgb(51, 169, 68);
    background: linear-gradient(153deg, rgba(51, 169, 68, 0.01) 0%, rgba(51, 169, 68, 1) 0%, rgba(22, 36, 63, 1) 45%, rgba(22, 36, 63, 1) 54%, rgba(51, 169, 68, 1) 100%);
}

.header_inner {
    display: flex;
    height: 100%;
    padding-left: 40px;
    position: relative;
    z-index: 2;
}

.header_block1 {}

.header_title1 {
    padding-top: 50px;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--color3);
    margin-bottom: 54px;
}

.header_vector1 {
    width: 386px;
    height: 182px;
    margin-bottom: 26px;
}

.header_vector1 img {
    display: block;
    width: 100%;
}

.header_img {}

.header_title2 {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: var(--color3);
    margin-bottom: 32px;
}

.header_buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.header_button {
    width: 273px;
    height: 70px;
    background: transparent;
    border: 1px solid white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.header_button_inner {
    border: none;
    background: transparent;
    font-family: var(--font1);
    font-weight: 500;
    line-height: 22px;
    font-size: 18px;
    color: var(--color3);
    height: 100%;
    width: 100%;
}

button.header_button_inner:hover {
    color: var(--color2);
    cursor: pointer;
}

.header_button:hover {
    background: var(--color3);
    transition: 0.2s all;
    cursor: pointer;
}

.header_block2 {
    width: 643px;
    height: 628px;
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.header_block2_img {
    padding-left: 100px;
    border-bottom-right-radius: 16px;
}

.header_text {
    font-family: var(--font1);
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: var(--color3);
    text-decoration: underline;
}

.about_image {
    display: flex;
    align-items: flex-end;
}

.header_backgrounds {
    display: flex;
    width: 618px;
    position: relative;
    padding-left: 40px;
    top: -100%;
    z-index: 1;
}

.header_background {}


/*ABOUT*/
.about {
    margin-bottom: 120px;
}

.about_container {
    width: 1280px;
    height: 328px;
    margin: 0 auto;
}

.about_inner {
    display: flex;
    justify-content: center;
}

.about_info {
    display: flex;
    flex-direction: column;
    width: 882px;
    margin-right: 92px;
}

.about_title {
    padding-top: 71px;
    margin-bottom: 56px;
    text-transform: uppercase;
    color: var(--color2);
    font-family: var(--font1);
    font-weight: 300;
    font-size: 60px;
    line-height: -7%;
}

.about_text1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: var(--color2);
}

.about_text2 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 30px;
    color: var(--color2);
}


/*CAREER*/
.career {
    margin-bottom: 255px;
}

.career_container {
    width: 1280px;
    height: 378px;
    margin: 0 auto;
}

.career_title {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: var(--color2);
    margin-bottom: 40px;
}

.career_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;

}


.career_card {
    max-width: 400px;
    width: 100%;
    height: 152px;
    border-radius: 20px;
    background: var(--color4);
    display: flex;
    padding-left: 20px;
    padding-top: 20px;
}



.career_img {
    margin-right: 20px;
}

.career_info {
    width: 100%;
}

.career_info_title {
    width: 249px;
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--color2);
    margin-bottom: 8px;
}

.career_info_text {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--color5);
}

/*NUMBERS*/
.numbers {
    margin-bottom: 40px;
}

.number_line {
    width: 1280px;
    height: 1px;
    margin: 0 auto;
    background: black;
    position: relative;
    top: -39px;
}

.numbers_container {
    width: 1280px;
    height: 381px;
    margin: 0 auto;
}

.numbers_inner {
    display: flex;
    justify-content: space-between;
}

.numbers_info {
    width: 289px;
    min-height: 291px;
    background: var(--color4);
    border-radius: 20px;
    padding: 28px 20px;
    position: relative;
    border: 1px solid transparent;
}

.numbers_circle {
    width: 16px;
    height: 16px;
    background: var(--color2);
    border-radius: 50%;
    position: absolute;
    top: -48px;
    left: 143px;
}

.numbers_info:hover {
    border: 1px solid var(--color6);
}

.numbers_info:hover .numbers_circle {
    background: var(--color6);
}

.numbers_num {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: var(--color6);
    margin-bottom: 15px;
}

.numbers_title {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--color2);
    margin-bottom: 8px;
}

.numbers_text1 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    color: var(--color2);
}

/*BONUS*/
.bonus {
    margin-bottom: 120px;
}

.bonus_container {
    width: 1280px;
    height: 160px;
    margin: 0 auto;
    border: 1px solid var(--color6);
    border-radius: 20px;
    padding: 0 30px;
}

.bonus_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}

.bonus_title {
    text-transform: uppercase;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: var(--color2);
}

.bonus_info {
    display: flex;
    align-items: center;
}

.bonus_img {
    width: 56px;
    height: 56px;
    margin-right: 8px;
}

.bonus_text {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

}

.bonus_present {
    width: 1280px;
    margin: 0 auto;
    position: relative;
    top: -200px;
    left: 20px;
}

/*lECTURER*/
.lecturer {
    margin-bottom: 120px;
}

.head_container {
    width: 1280px;
    height: 539px;
    margin: 0 auto;
}

.head_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.head_title {
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: var(--color2);
}

.head_buttons {
    display: flex;
    gap: 20px;
}

.head_button_left {
    width: 45px;
    height: 45px;
    background-image: url(../img/head_button_left_svg.svg);
    border: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.head_button_left:hover {
    opacity: 0.6;
}

.head_button_right {
    width: 45px;
    height: 45px;
    background-image: url(../img/head_button_right_svg.svg);
    border: none;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
}

.head_button_right:hover {
    opacity: 0.6;
}

.lecturer_unit {
    display: flex;
    justify-content: space-between;
}

.lecturer_card {}

.lecturer_foto {
    margin-bottom: 20px;
}

.lecturer_foto img {}

.lecturer_name {
    max-width: 290px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: var(--color2);
    margin-bottom: 8px;
}

.lecturer_text {
    max-width: 290px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: var(--color2);
    margin-bottom: 16px;
}

.lecturer_button {
    width: 290px;
    height: 46px;
    border: none;
    border-radius: 12px;
    background-color: var(--color6);
    color: var(--color3);
    cursor: pointer;
}

.lecturer_button:hover {
    opacity: 0.8;
}

/*EVENT*/

.event {
    margin-bottom: 120px;
}

.event_container {
    width: 1280px;
    height: 360px;
    margin: 0 auto;
}

.event_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.event_info {
    width: 400px;
    height: 260px;
    padding: 20px 22px 0;
    border-radius: 26px;
}

.event_counter {
    display: flex;
    margin-bottom: 83px;

}

.event_counter_info {
    width: 108px;
    height: 32px;
    border-radius: 15px;
    background: var(--color8);
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.event_info.event_one {
    background: rgb(6, 19, 41);
    background: linear-gradient(90deg, rgba(6, 19, 41, 0) 0%, rgba(10, 24, 48, 1) 0%, rgba(92, 139, 202, 1) 100%, rgba(95, 143, 207, 0.01) 100%);
}

.event_info.event_two {
    background-image: url(../img/event_card2.png);
    background-size: cover;
}

.event_info.event_three {
    background-image: url(../img/event_card3.png);
    background-size: cover;
}

.event_counter_img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;

}


.event_counter_img img {
    display: block;

}

.event_online {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--color3);
}

.event_data {
    font-family: var(--font1);
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 15px;
    color: var(--color3);
}

.event_title {
    width: 335px;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: var(--color3);
}

.enent_counter_block {
    display: flex;
    justify-content: space-between;
}

.enent_counter_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;

}

.event_center {}

.event_center_info {
    display: flex;
    width: 149px;
    height: 32px;
    background: rgb(182, 87, 244);
    background: linear-gradient(97deg, rgba(182, 87, 244, 0.01) 0%, rgba(186, 82, 225, 1) 0%, rgba(211, 51, 88, 1) 100%, rgba(215, 46, 67, 0.01) 100%);
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

.event_center_img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.event_center_img img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.event_online_center {
    text-align: center;
    font-family: var(--font1);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--color3);
}

.event_left {
    width: 79px;
    height: 32px;
    border-radius: 15px;
    background: var(--color8);
    display: flex;
    justify-content: center;
    align-items: center;
}


.event_online_left {
    font-family: var(--font1);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: var(--color3);
}

.event_vectors {
    display: flex;
}

.event_vector {
    position: relative;
    top: -260px;
    z-index: 3;
}


.event_line {
    position: relative;
    top: -700px;
    left: -75px;
    z-index: 1;
}

/*PARTNERS*/
.partners {
    margin-bottom: 120px;
}

.partners_container {
    width: 1280px;
    height: 301px;
    margin: 0 auto;
}

.partner_inner {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;

}

.partner_card {
    width: 290px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid var(--color8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*QUESTIONS*/

.questions {}

.questions_container {
    width: 1280px;
    height: 200px;
    margin: 0 auto;
    background: rgb(21, 34, 59);
    background: linear-gradient(97deg, rgba(21, 34, 59, 0.01) 0%, rgba(25, 50, 60, 1) 0%, rgba(44, 136, 66, 1) 100%, rgba(51, 169, 68, 0.01) 100%);
    border-radius: 20px;
  }

.questions_inner {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    z-index: 2;

}

.questions_info {
    display: flex;
    align-items: center;
}

.questions_img {
    width: 36px;
    height: 36px;
    margin-right: 40px;
}

.questions_title {
    text-transform: uppercase;
    color: var(--color3);
    font-family: var(--font1);
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}



.question_buttons{
    width: 200px;
    height: 70px;
    background: var(--color3);
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question_buttons:hover{
    background: var(--color4);
 }

button.questions_button{
border: none;
background: transparent;
}


.questions_button {}


.questions_button_inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.questions_button_text {
     font-family: var(--font1);
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--color2);
    margin-right: 10px;
}

.questions_button_icon {}

.questions_vectors {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -200px;
    z-index: 1;
}

.questions_vectors_block1 {
    display: flex;
  padding-left: 40px;
}

.questions_vector1 {

}

.questions_vector2 {

}

.questions_vectors_block2 {}